<app-navbar></app-navbar>

<div
  class="web_padding_l web_padding_r py-5 flex flex-col md:flex-row items-center justify-between gap-x-8 lg:gap-x-10"
>
  <div class="banner_img w-full md:w-[50%] md:order-1">
    <img src="assets/banner-2.webp" alt="" />
    <img src="assets/banner-2.jpg" alt="" />
    <img src="assets/banner-1.webp" alt="" />
  </div>

  <div class="w-full md:flex-1">
    <h1 class="font-bold text-6xl text-center md:text-left">
      Big Brain <br />
      Hartikles
    </h1>
    <hr class="mt-5" />

    <p class="text-lg text-center md:text-left mt-5">
      " Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
      officia ea asperiores consequatur dolor officiis quisquam doloribus,
      repellat blanditiis perspiciatis nesciunt architecto doloremque sed eius..
      "
    </p>
  </div>
</div>
